In [1]:
peso = float(input("Digite seu peso em kg: "))
altura = float(input("Digite sua altura em metros: "))

imc = peso / (altura ** 2)

print ("Seu IMC é: ", imc)

Seu IMC é:  0.0023588329220496445

In [2]:
lista = []

num1 = int(input("Digite o 1 numero: "))
num2 = int(input("Digite o 2 numero: "))
num3 = int(input("Digite o 3 numero: "))
num4 = int(input("Digite o 4 numero: "))
num5 = int(input("Digite o 5 numero: "))

lista.append(num1)
lista.append(num2)
lista.append(num3)
lista.append(num4)
lista.append(num5)

print(lista)

[1, 2, 3, 4, 5]

In [3]:
lista_nomes = input("Digite uma lista de nomes separados por vírgula: ")
lista_nomes.split(',')

['lua', ' ben', ' dimas', ' lilika']