In [3]:
x = 200
print ("print A:",x)

print A: 200

AULA 4

EX 1

In [4]:
eh_multiplo_dez = lambda m: m % 10 == 0
eh_multiplo_dez (100)

True

EX 3

In [12]:
def primeiro_nome(nome_completo):
    nome_split = nome_completo.split()
    return nome_split[0]

nomes = ['João Carlos', 'Maria Eduarda', 'Ana Rute', 'Ana Clara']
so_primeiro_nome = list(map(primeiro_nome, nomes))

print(so_primeiro_nome)

['João', 'Maria', 'Ana', 'Ana']

EX 4

In [1]:
from datetime import datetime, date, timedelta

def dia_da_semana(data):
        data_x = datetime.strptime(data, '%d/%m/%Y')
        nome_dia_semana = data_x.strftime('%A')

        return nome_dia_semana

data = input("Digite uma data nesse formato dd/mm/aaaa: ")
resultado = dia_da_semana(data)
print(f'O dia da semana para a data {data} é {resultado}')

O dia da semana para a data 30/03/1992 é Monday